/* BANNER */ 

/* .banner {
    background-image: url(src\assets\img\banner.png);
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-left: -20px;
}

.itens-banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner {
    text-align: center;
    width: 1900px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;    
} */


/* .introducao h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -2em;
    margin-bottom: 2em;
    line-height: 0;
}

.introducao img {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.slide {
    position: relative;
    overflow: hidden;
}

.slide > * {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.slide > .active {
    position: relative;
    opacity: 1;

} */

/* PRODUTOS */

.produtos-cont {
    background-color: black;
    height: 1160px;
}

.produto-item {
    display: flex;
    flex-wrap: wrap;
}


.sub-titulo {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
    padding: 50px 0;
}

.notebooks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 252px;
}
.notebooks ul {
    list-style: none;
}
.notebooks img{
    width: 300px;
    height: 200px;
}

.notebooks p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.produtos-item{
    padding: 20px 20px;
}

.produtos-item a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    margin: 0 80px;
    background-color: white;
    border-radius: 10px;

}

@media screen and (max-width:1920px) {
    
    /* .menu {
        width: 480px;
    }
    
    .menu a{
        font-size: 16px;
    }

    .logo {
        width: 200px;
        height: 150px;
    }
    */
}

@media screen and (max-width:768px) {
    /* PRODUTOS A VENDA */
    
    #espaco-produtos {
        margin-left: 50px;
        margin-right: 0px;
        margin-left: -10px;
    }

    .produtos-cont {
        height: 1970px;
    }

    .sub-titulo {
        font-size: 30px;
    }

    .notebooks {
        margin-left: 60px;
        margin-right: 0px;
    }

    .notebooks img{
        width: 250px;
        height: 200px;
    }
    
}
    

@media screen and (max-width:320px) {

    /* PRODUTOS A VENDA */

    .produtos-cont {
        height: 3160px;;
    }

    #espaco-produtos {
        margin-left: -10px;
    }

    .sub-titulo {
        font-size: 20px;
    }

    .notebooks img{
        width: 200px;
        height: 150px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .notebooks p {
        text-align: none;
    }

    .notebooks {
        margin-left: 0px;
    }

}