<!-- MENU -->
<header>
    <div class="container-grid posicionamento-header">
        <a href="#"> <img class="logo" src="assets/img/logo1.svg" alt="Logo do site Gamer-mania"> </a>
        <nav id="menu" class="menu"> 
             <a routerLink="">Home</a>
             <a routerLink="/produtos">Produtos</a>
             <a routerLink="/sobre">Sobre</a>
             <a routerLink="/login">Login</a>
        </nav>
        <a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="Menu de barras"></a>
        <!-- <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> -->
    </div>
</header>
