/* MENU */
header {
    background-color: #098D97;
    height: 140px;
}

.container-grid {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

.posicionamento-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}


.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;   
}

.barras {
    width: 30px;
    display: none;
}

@media screen and (max-width:1920px) {
    
    /* .menu {
        width: 480px;
    }
    
    .menu a{
        font-size: 16px;
    }

    .logo {
        width: 200px;
        height: 150px;
    }
    */
}

@media screen and (max-width:768px) {

    /* MENU */

    header {
        height: 216px;
    }

    .menu {
        display: none;
    }

    #menu {
        flex-direction: column;
        width: 200px;
        background-color: black;
        position: absolute;
        top: 0;
        right: 65px;
    }

    .menu a {
        text-align: center;
        padding: 15px;
        font-size: 16px;
    }


    .posicionamento-header {
        position: relative;
    }
    
    .menu-ativo {
        display: flex;
    }

    .barras {
        display: inline-block;
    }

}
    

@media screen and (max-width:320px) {
    /* MENU */

    header {
        height: 180px;
    }

    .menu {
        display: none;
    }

    #menu {
        flex-direction: column;
        width: 115px;
        background-color: black;
        position: absolute;
        top: 0;
        right: 40px;
    }

    .menu a {
        text-align: center;
        padding: 15px;
        font-size: 10px; 

    }

    .posicionamento-header {
        position: relative;
    }
    
    .menu-ativo {
        display: flex;
    }

    .barras {
        display: inline-block;
    }

}