/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */
header {
    background-color: #098D97;
    height: 140px;
}

.container-grid {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

.posicionamento-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}


.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;   
}

.barras {
    width: 30px;
    display: none;
}

/* BANNER */

/* .banner {
    background-image: url(src\assets\img\banner.png);
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-left: -20px;
}

.itens-banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner {
    text-align: center;
    width: 1900px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;    
} */
   
 /* PRODUTOS */
 
 .secao-produtos {
    background-color: black;
    width: 100%;
    height: 800px;
    /* display: flex;
    flex-wrap: wrap; */
}
 .produtos-flex {
  display: flex; 
  flex-wrap: wrap; 
  margin: 0 100px;
  padding-left: 120px;
  padding-top: 40px;
  margin-left: 240px;
  margin-right: 240px;

}
 .secao-produtos h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;
}

 .produtos {
    padding-top: 20px;
}

 .produto-item{
    width: 400px;
    height: 300px;
    padding: 30px 30px;   
}

.secao-produtos .produtos-flex .produto-item {
    border-radius: 45px;
}

/* NOTICIAS */
.noticias {
    display: flex;
    justify-content: space-between;
}

.secao-noticias {
    background-color:#098D97;
    padding: 30px 0 ;
}

.secao-noticias .container {
    display: flex;
    justify-content: space-between;
}

.bloco-noticias > h2:nth-child(1) {
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.bloco-noticias{
    width: 70%;
    height: 90%;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 257px;
    margin-right: 257px;
    padding: 30px 30px;
}

.bloco-noticias h2 {
    font-size: 25px;
}

.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cardnews {
    /* width: 15em;
    height: 22.5em; */
    width: 18em;
    height: 32.5em; 
    background: var(--gradient);
    color: black;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.texto-card {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    padding: 0 20px;
}

.texto-card a {
    background-color:white;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px; 
}

.cardnews img {
    width: 100%;
}

.cardnews h3{
    padding-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
}
.cardnews p{
    font-size: 16px;
}


/* CLIENTES */

.secao-clientes {
    width: 1920;
    height: 700px;
    background-color: black;
}

.secao-clientes h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;  
}

.clientes-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-top: 40px;
}

/* .secao-clientes img {
 
} */


.clientes1 {
    padding-right: 150px;
}

@media screen and (max-width:1920px) {
    
    /* .menu {
        width: 480px;
    }
    
    .menu a{
        font-size: 16px;
    }

    .logo {
        width: 200px;
        height: 150px;
    }
    */
}

@media screen and (max-width:768px) {

    /* PRODUTOS */
    
    .secao-produtos {
        height: 810px;
    }

    .secao-produtos h1 {
        font-size: 30px;
    }

    .produtos-flex {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 126px;
        padding-right: 126px;
    }

    .produto-item {
        width: 250px;
        height: 200px;
    }

    /* NOTICIAS */

    .bloco-noticias {
        margin-left: 105px;
        margin-right: 105px;
    }
    
    .cardnews {
        width: 13em;
    }

    .texto-card {
        margin-top: 50px;
    }

    .bloco-noticias {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* CLIENTES */
    
    .secao-clientes {
        height: 420px;
    }

    .clientes h1 {
        font-size: 30px;
    }
  
    .clientes1 {
        padding-right: 30px;
        width: 250px;
        height: 200px;  
        padding-left: 0px;      
        
    }
    
    .clientes2 {
        width: 220px;
        height: 200px;
        padding-left: 0px;
        padding-top: 0px;
    }

}
    

@media screen and (max-width:320px) {
    /* PRODUTOS */
    
    .secao-produtos {
        height: 1350px;
    }

    .secao-produtos h1 {
        font-size: 20px;
    }

    .produtos-flex {
        padding-left: 35px;
        padding-right: 35px;
    }

    /* NOTICIAS */

    .secao-noticias {
        background-color: white;  
    }

    .bloco-noticias {
        margin-right: 40px;
        margin-left: 40px;
    }

    .bloco-noticias > h2:nth-child(1) {      
        color: black;
    }

    .texto-card a {
        background-color: #098D97;
    }

    /* CLIENTES */

    .secao-clientes {
        display: none;
    }

}



