/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */
header {
    background-color: #098D97;
    height: 140px;
}

.container-grid {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

.posicionamento-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}


.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;   
}

.barras {
    width: 30px;
    display: none;
}

/* BANNER */

/* .banner {
    background-image: url(src\assets\img\banner.png);
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-left: -20px;
}

.itens-banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner {
    text-align: center;
    width: 1900px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;    
} */
   
 /* PRODUTOS */
 
 .secao-produtos {
    background-color: black;
    width: 100%;
    height: 800px;
    /* display: flex;
    flex-wrap: wrap; */
}
 .produtos-flex {
  display: flex; 
  flex-wrap: wrap; 
  margin: 0 100px;
  padding-left: 120px;
  padding-top: 40px;
  margin-left: 240px;
  margin-right: 240px;

}
 .secao-produtos h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;
}

 .produtos {
    padding-top: 20px;
}

 .produto-item{
    width: 400px;
    height: 300px;
    padding: 30px 30px;   
}

.secao-produtos .produtos-flex .produto-item {
    border-radius: 45px;
}

/* CLIENTES */

.secao-clientes {
    width: 1920;
    height: 700px;
}

.secao-clientes h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;  
}

.clientes-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-top: 40px;
}

/* .secao-clientes img {
 
} */


.clientes1 {
    padding-right: 150px;
}

@media screen and (max-width:1920px) {
    
    /* .menu {
        width: 480px;
    }
    
    .menu a{
        font-size: 16px;
    }

    .logo {
        width: 200px;
        height: 150px;
    }
    */
}

@media screen and (max-width:768px) {

    /* PRODUTOS */
    
    .secao-produtos {
        height: 810px;
    }

    .secao-produtos h1 {
        font-size: 30px;
    }

    .produtos-flex {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 126px;
        padding-right: 126px;
    }

    .produto-item {
        width: 250px;
        height: 200px;
    }

    /* CLIENTES */
    
    .secao-clientes {
        height: 420px;
    }

    .clientes h1 {
        font-size: 30px;
    }
  
    .clientes1 {
        padding-right: 30px;
        width: 250px;
        height: 200px;  
        padding-left: 0px;      
        
    }
    
    .clientes2 {
        width: 220px;
        height: 200px;
        padding-left: 0px;
        padding-top: 0px;
    }

}
    

@media screen and (max-width:320px) {
    /* PRODUTOS */
    
    .secao-produtos {
        height: 1350px;
    }

    .secao-produtos h1 {
        font-size: 20px;
    }

    .produtos-flex {
        padding-left: 35px;
        padding-right: 35px;
    }

    /* CLIENTES */

    .secao-clientes {
        display: none;
    }

}



