
<!-- BANNER-BG -->

<!-- <div class="banner">
    <div class="container-grid itens-banner">
        <div class="texto-banner">
            <h1>Venha montar seu computador na melhor loja!</h1>
        </div>
    </div>
</div>  -->

<!-- LOGIN -->
<div class="login-cadastro">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" [(ngModel)]="userModel.email">
        
        <label for="senha">Senha: </label>
        <input type="password" id="senha" name="senha" [(ngModel)]="userModel.password">
        
        <button type="submit">Fazer login</button>
    </form>
    <p *ngIf=" mensagem != '' ">{{ mensagem }}</p>
    <form>
        <h2>Cadastra-se</h2>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha">
        
        <button type="submit">Cadastrar</button>
    </form>
</div>

<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>