<!-- RODAPE -->  
<section class="footer">
    <div class="atendimento">
        <h3>Horario de atendimento</h3>
        <p>seg a sex:07:00 as 17:00</p>
    </div>
    <div class="email">
        <h3>email</h3>
        <p>GamerMania@gmail.com</p>
        <p>Telefone:(11)0000-0000</p>
    </div>
    <div class="redes">
        <h3>Redes</h3>
        <ul class="redes-sociais">
            <li> 
                <a href="https://pt-br.facebook.com/" target="_blank"><img src="assets/img/instagram.png">  </a>
            </li>
            <li> 
                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram.png">  </a>
            </li>
            <li> 
                <a href="https://twitter.com/" target="_blank"><img src="assets/img/twitter.png">  </a>
            </li>
        </ul>
    </div>
</section> 