.banner {
    background-image: url(src\assets\img\banner.png);
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-left: -20px;
}

.itens-banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner {
    text-align: center;
    width: 1900px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;    
}

@media screen and (max-width:1920px) {
    
    /* .menu {
        width: 480px;
    }
    
    .menu a{
        font-size: 16px;
    }

    .logo {
        width: 200px;
        height: 150px;
    }
    */
}

@media screen and (max-width:768px) {

    /* BANNER */

}  

@media screen and (max-width:320px) {
    /* BANNER */

    .texto-banner {
        font-size: 20px;         
    }

    .texto-banner > h1:nth-child(1) {
    margin-left: 18px;
    }
}